# Dependencies
node_modules/
.pnp
.pnp.js

# Production & Build outputs
dist/
build/
src-tauri/target/

# Environment and Secret Keys
.env
.env.local
.env.*.local
key.env
*.env

# Operating System files
.DS_Store
Thumbs.db

# IDE and Editor files
.vscode/
.idea/
*.swp
*.swo
